<% if with_sentinels? -%>
  <!-- Form <%= singular_table_name %> start -->
<% end -%>
<form action="/<%= plural_route_name %>">
  <% if with_sentinels? -%>
    <!-- Form <%= singular_table_name %> end -->
  <% end -%>

  <% attributes.each do |attribute| -%>
    <% if with_sentinels? -%>
      <!-- Label and input for <%= attribute.column_name %> start -->
    <% end -%>
    <% if attribute.type == :hidden -%>
      <% if with_sentinels? -%>
        <!-- Input for <%= attribute.column_name %> start -->
      <% end -%>
      <input type="hidden" name="<%= attribute.column_name %>" value="<%%= <%= new_form_hidden_variable %> %>">
      <% if with_sentinels? -%>
        <!-- Input for <%= attribute.column_name %> end -->
      <% end -%>
    <% elsif attribute.field_type == :check_box -%>
      <div class="form-group">
        <label for="<%= attribute.column_name %>">
          <%= attribute.column_name.humanize %>
        </label>
        <% if with_sentinels? -%>
          <!-- Input for <%= attribute.column_name %> start -->
        <% end -%>
        <input id="<%= attribute.column_name %>" class="form-check-input" name="<%= attribute.column_name %>" type="checkbox" <%%= "checked" if @<%= singular_table_name %>.<%= attribute.column_name %> %>>
        <% if with_sentinels? -%>
          <!-- Input for <%= attribute.column_name %> end -->
        <% end -%>
      </div>
    <% else -%>
      <div class="form-group">
        <label for="<%= attribute.column_name %>">
          <%= attribute.column_name.humanize %>
        </label>

        <% if attribute.field_type == :text_area -%>
          <% if with_sentinels? -%>
            <!-- Input for <%= attribute.column_name %> start -->
          <% end -%>
          <textarea id="<%= attribute.column_name %>" name="<%= attribute.column_name %>" class="form-control" rows="3"><%%= @<%= singular_table_name %>.<%= attribute.column_name %> %></textarea>
          <% if with_sentinels? -%>
            <!-- Input for <%= attribute.column_name %> end -->
          <% end -%>
        <% else -%>
          <% if with_sentinels? -%>
            <!-- Input for <%= attribute.column_name %> start -->
          <% end -%>
          <input type="text" id="<%= attribute.column_name %>" name="<%= attribute.column_name %>" class="form-control" value="<%%= @<%= singular_table_name %>.<%= attribute.column_name %> %>">
          <% if with_sentinels? -%>
            <!-- Input for <%= attribute.column_name %> end -->
          <% end -%>
        <% end -%>
      </div>
      <% if with_sentinels? -%>
        <!-- Label and input for <%= attribute.column_name %> end -->
      <% end -%>
    <% end -%>

  <% end -%>
  <button class="btn btn-block btn-outline-secondary">
    Create <%= singular_table_name.humanize.downcase %>
  </button>
</form>
